<h3>Kestore Holder Information:</h3>
<div class="col-md-6">
    <label class="input_label">
        <span class="keep_hovered">Keystore Password: </span>
        <input type="password" name="issuerKeystorePass" [(ngModel)]="KeystoreDTO.keystorePass" required="required">
    </label>
</div>
<div class="col-md-6">
    <label class="input_label">
        <span class="keep_hovered">Private Key Password: </span>
        <input type="password" name="issuerPrivateKeyPass" [(ngModel)]="KeystoreDTO.privateKeyPass" required="required">
    </label>
</div>
<div class="col-md-6">
    <label class="input_label">
        <span class="keep_hovered">Serial: </span>
        <input type="text" name="issuerPrivateKeyPass" [(ngModel)]="KeystoreDTO.serial" required="required">
    </label>
</div>

<button style="width: 100%;" (click)="log()">Download keystore</button>