<div class="register-show">
    <h1>New Root Certificate</h1>
    <div class="col-md-6">
        <label class="input_label">
          <span class="keep_hovered">Alias: </span>
          <input type="text" name="alias" [(ngModel)]="CertDTO.alias" required="required">
        </label>
    </div>
    <div class="col-md-6">
        <label class="input_label">
            <span class="keep_hovered">Keystore Password: </span>
            <input type="password" name="keystorePassword" [(ngModel)]="CertDTO.keystorePass" required="required">
        </label>
    </div>
    <div class="col-md-6">
        <label class="input_label">
            <span class="keep_hovered">Private Key Password: </span>
            <input type="password" name="privateKeyPass" [(ngModel)]="CertDTO.privateKeyPass" required="required">
        </label>
    </div>

    <div class="col-md-6">
        <label class="input_label">
          <span class="keep_hovered">Valid From: </span>
          <input type="date" name="validFrom" [(ngModel)]="CertDTO.validFrom" required="required">
        </label>
    </div>
    <div class="col-md-6">
        <label class="input_label">
          <span class="keep_hovered">Valid Until: </span>
          <input type="date" name="validUntil" [(ngModel)]="CertDTO.validUntil" required="required">
        </label>
    </div>
    <div class="col-md-6">
        <label class="input_label">
          <span class="keep_hovered">Common Name: </span>
          <input type="text" name="commonName" [(ngModel)]="CertDTO.commonName" required="required">
        </label>
    </div>
    <div class="col-md-6">
        <label class="input_label">
          <span class="keep_hovered">Organization Name: </span>
          <input type="text" name="organizationName" [(ngModel)]="CertDTO.organisationName" required="required">
        </label>
    </div>
    <div class="col-md-6">
        <label class="input_label">
          <span class="keep_hovered">Organisation Unit: </span>
          <input type="text" name="organisationUnit" [(ngModel)]="CertDTO.organisationUnit" required="required">
        </label>
    </div>
    <div class="col-md-6">
        <label class="input_label">
          <span class="keep_hovered">Email: </span>
          <input type="text" name="email" [(ngModel)]="CertDTO.email" required="required">
        </label>
    </div>

    <div>
        <h3>Key Usage:</h3>
        <table>
            <tr>
                <td><span class="keep_hovered">Digital Signature: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.digitalSignature" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">Non Repudiation: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.nonRepudiation" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">Key Encipherment: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.keyEncipherment" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">Data Encipherment: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.dataEncipherment" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">Key Agreement: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.keyAgreement" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">KeyCertSign: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.keyCertSign" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">cRL Sign: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.cRLSign" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">Encipher Only: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.encipherOnly" type="checkbox"/></td>
            </tr>
            <tr>
                <td><span class="keep_hovered">Decipher Only: </span></td>
                <td class="input"><input [(ngModel)]="CertDTO.decipherOnly" type="checkbox"/></td>
            </tr>
        </table>
    </div>
    <button style="width: 100%;" (click)="log()">Create</button>
</div>